<?xml version="1.0" encoding="UTF-8"?>
<_config>
    <read>
        <app_token>X5Ofb1CHcajtmrsisC5ciqornKd</app_token>
        <or_list>
            <table_id>tblRQ912XHP5qtMv</table_id>
            <view_id>vewY9Bvf0e</view_id>
        </or_list>
        <feature_list>
            <table_id>tblm3PgZKbFfPbRZ</table_id>
            <view_id>vewY9Bvf0e</view_id>
        </feature_list>
        <prd>
            <path>D:\MXTools\Others\trunk\feishu_tools\duanmxr\PRD_Navi</path>
        </prd>
        <code>
            <path>D:\MXTools\Others\trunk\feishu_tools\duanmxr\jacoco\coverageReport\html</path>
        </code>
        <ut>
            <path>D:\MXTools\Others\trunk\feishu_tools\duanmxr\source</path>
        </ut>
        <excel>
            <path>D:\MXTools\Others\trunk\feishu_tools\duanmxr\TestCases</path>
        </excel>
        <itcase>
            <path>D:\MXTools\Others\trunk\feishu_tools\duanmxr\ITCases</path>
        </itcase>
    </read>
    <write>
        <app_token>YucDb0HFBadCxWsx5M7cJ7RVnDc</app_token>
        <or_list>
            <table_id>tblsCS0P8O9w8dKB</table_id>
            <view_id>vewvBMkyhQ</view_id>
        </or_list>
        <feature_list>
            <table_id>tbl4SVn3TkwXRJOh</table_id>
            <view_id>vewkfbNcRD</view_id>
        </feature_list>
        <prd>
            <table_id>tblvcYw7U9vhQwbv</table_id>
            <view_id>vew8JRpId1</view_id>
        </prd>
        <code>
            <table_id>tblNptTtOxET7kyh</table_id>
            <view_id>vewAxA4mJe</view_id>
        </code>
        <ut>
            <table_id>tblYDjMkphtOwWb8</table_id>
            <view_id>vewSKxLzRz</view_id>
        </ut>
        <excel>
            <table_id>tbl8IzCtEnMn74fH</table_id>
            <view_id>vewdFXiQv7</view_id>
        </excel>
        <itcase>
            <table_id>tblqnZEwU0H4IGGG</table_id>
            <view_id>vewdFXiQv7</view_id>
        </itcase>
    </write>
</_config>